{% extends 'glowny.html' %}

{% block strona %}
</br>
{% block detal %}
<div class="container-fluid  bg-light ">
   <a href="{% url 'project-detail' projekt.id %}" class="btn btn-success">Back to project details</a>
     <div class="container-fluid py-5 h-100">
       <div class="row d-flex justify-content-center align-items-center h-500">
          <div class="col-md-12 col-xl-12">            
               <div class="card-body p-4 ">
                   <div class="row">
                      <h5 class="border-0 align-left">
                      </h5>
                   </div>
                </div>
             </div>
             <div class="card mask-custom">
               <div class="card-body p-4 ">
                   <div class="row">
                      <p class="border-0 align-left">
                        {{ task }}  {{task.category}}
                      </p>
                   </div>
                </div>
             </div>
             <div class="card mask-custom">
               <div class="card-body p-4 ">
                   <div class="row">             
                      <table class="table">
                           <td>
                              {% if new_comment %}
                                 <h6> Comment saved </h6>
                              {% else %}
                              <form method="post" enctype="multipart/form-data">
                                 {% csrf_token %}
                                 <h6> Your name </h6>
                                 {{ form.name }}<br>
                                 <h6>Comment</h6>
                                 {{ form.body }}
                                 <p><input type="submit" value="Save comment" ></p>
                              {% endif %}    
                              </form>
                           </tbody>
                     </table>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
{% endblock  %}    
{% endblock  %} 